$color_white: #ffffff;
$color_black: #000000;
$color_orange: #f47b33;
$color_red: #bf0e01;
$color-bg-header: #172224;
$color-text-link: #fddf9b;


$logo: url(../images/logo.png) no-repeat;

// HEADER
$bg-nav-header: url(../images/bg-nav-header.jpg) no-repeat;
$bg-behind-icon-game: url(../images/bg-behind-icon-game.png) no-repeat;

$icon-home: url(../images/icon-home.png) no-repeat;
$icon-facebook: url(../images/icon-facebook.png) no-repeat;

$bg-btn-tai-game-head: url(../images/bg-btn-tai-game-head.png) no-repeat;

$icon-hamburger: url(../images/icon-hamburger.png) no-repeat;
$icon-hamburger-active: url(../images/icon-hamburger-active.png) no-repeat;
$bg-behind-icon-hamburger: url(../images/bg-behind-icon-hamburger.png) no-repeat;

$bg-nav-content: url(../images/bg-nav-content.jpg) no-repeat;
$line-left-nav-content: url(../images/line-left-nav-content.png) no-repeat;


// index page
$bg: url(../images/bg-386.jpg) no-repeat;
// $bg-noi: url(../images/bg-noi.jpg) repeat-y;
// $m-bg: url(../images/m-bg.jpg) no-repeat;
// $m-bg-noi: url(../images/m-bg-noi.jpg) repeat-y;
$bg-footer: url(../images/bg-footer.png) no-repeat;

// nav mobile
$bg-line-nav-mobile: url(../images/bg-line-nav-mobile.png) no-repeat;
$bg-hover-nav-mobile: url(../images/bg-hover-nav-mobile.png) no-repeat;
// $icon-bat-quai: url(../images/icon-bat-quai.png) no-repeat;

// INFO GAME

$icon-home: url(../images/icon-home.png) no-repeat;
$icon-play: url(../images/icon-play.png) no-repeat;
$icon-face: url(../images/icon-face.png) no-repeat;

$icon-android: url(../images/icon-android.png) no-repeat;
$icon-apple: url(../images/icon-apple.png) no-repeat;

$icon-search: url(../images/icon-search.png) no-repeat;

// Title section
$icon-title: url(../images/icon-title.png) no-repeat;
$icon-title-right: url(../images/icon-title-right.png) no-repeat;
$icon-title-white: url(../images/icon-title-white.png) no-repeat;
$icon-title-white-right: url(../images/icon-title-white-right.png) no-repeat;

// Box Bao danh
$m-bg-bao-danh: url(../images/m-bg-bao-danh.jpg) no-repeat;

// Box mon phai
$m-bg-mon-phai: url(../images/m-bg-mon-phai.png) no-repeat;
$bg-dot-monphai: url(../images/bg-dot-monphai.png) no-repeat;
$icon-arrow-slide-monphai1: url(../images/icon-arrow-slide-monphai1.png) no-repeat;
$icon-arrow-slide-monphai2: url(../images/icon-arrow-slide-monphai2.png) no-repeat;
$icon-arrow-slide-monphai3: url(../images/icon-arrow-slide-monphai3.png) no-repeat;
$icon-arrow-slide-monphai4: url(../images/icon-arrow-slide-monphai4.png) no-repeat;
$icon-arrow-slide-monphai5: url(../images/icon-arrow-slide-monphai5.png) no-repeat;

// Box dac sac
$m-bg-dac-sac: url(../images/m-bg-dac-sac.png) no-repeat;
$icon-dot-slide-dac-sac: url(../images/icon-dot-slide-dac-sac.png) no-repeat;
$icon-dot-slide-dac-sac-hover: url(../images/icon-dot-slide-dac-sac-hover.png) no-repeat;

$icon-arrow-slide-dac-sac: url(../images/icon-arrow-slide-dac-sac.jpg) no-repeat;
$icon-arrow-slide-dac-sac-hover: url(../images/icon-arrow-slide-dac-sac-hover.jpg) no-repeat;

// Box find
$bg-box-find: url(../images/bg-box-find.jpg) no-repeat;
$bg-btn-share-box-find: url(../images/bg-btn-share-box-find.png) no-repeat;
$bg-btn-share-box-find-hover: url(../images/bg-btn-share-box-find-hover.png) no-repeat;

// Box search
$m-bg-box-search: url(../images/m-bg-box-search.png) no-repeat;
$bg-box-search: url(../images/bg-box-search.png) no-repeat;
$bg-btn-search: url(../images/bg-btn-search.png) no-repeat;
$bg-btn-search-hover: url(../images/bg-btn-search-hover.png) no-repeat;

// footer
$m-bg-footer: url(../images/m-bg-footer.jpg) no-repeat;
$border-top-link-footer: url(../images/border-top-link-footer.png) no-repeat;
$bg-link-footer: url(../images/bg-link-footer.png) no-repeat;
$bg-link-footer-hover: url(../images/bg-link-footer-hover.png) no-repeat;

// Nav right
$bg-nav-right: url(../images/bg-nav-right.png) no-repeat;
$canh-dao-nav-right: url(../images/canh-dao-nav-right.png) no-repeat;
$icon-arrow-nav-right: url(../images/icon-arrow-nav-right.png) no-repeat;

$bg-btn-tai-nav-right: url(../images/bg-btn-tai-nav-right.png) no-repeat;
$bg-btn-giftcode-nav-right: url(../images/bg-btn-giftcode-nav-right.png) no-repeat;

$icon-apple: url(../images/icon-apple.png) no-repeat;
$icon-android: url(../images/icon-android.png) no-repeat;
$icon-pc: url(../images/icon-pc.png) no-repeat;

$go-top-nav-right: url(../images/go-top-nav-right.png) no-repeat;


// Nav LEFT
$bg-icon-nav-left: url(../images/bg-icon-nav-left.png) no-repeat;




// popup
$bg-popup: url(../images/bg-popup.jpg) no-repeat;
$icon-close-popup: url(../images/icon-close-popup.png) no-repeat;



// --------------------------- Download Page -------------------------
$m-bg-tai-game: url(../images/m-bg-tai-game.jpg) no-repeat;
$bg-tai-game: url(../images/bg-tai-game.jpg) no-repeat;
$m-bg-main-tai-game: url(../images/m-bg-main-tai-game.png) no-repeat;
$bg-behind-icon-game-download: url(../images/bg-behind-icon-game-download.png) no-repeat;
$canh-hoa-tai-game: url(../images/canh-hoa-tai-game.png) no-repeat;
$icon-star: url(../images/icon-star.png) no-repeat;

$icon-apple-download: url(../images/icon-apple-download.png) no-repeat;
$icon-android-download: url(../images/icon-android-download.png) no-repeat;
$bg-btn-tai-download: url(../images/bg-btn-tai-download.png) no-repeat;

$bg-btn-cai-dat-download: url(../images/bg-btn-cai-dat-download.png) no-repeat;
$bg-link-guide-download: url(../images/bg-link-guide-download.png) no-repeat;
$bg-guide-download: url(../images/bg-guide-download.png) no-repeat;
$bg-guide-download-hover: url(../images/bg-guide-download-hover.png) no-repeat;
